body{
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
  background: linear-gradient(#E0EAFC,#CFDEF3);
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.icons{
  display: inline-block;
  width: 90px;
  margin: 0 5px;
  cursor: pointer;
}
.icons i{
  font-size: 40px;
  display: block;
  text-align: center;
  transition: .3s;
}
.icons span{
  display: block;
  width: 90px;
  text-align: center;
  padding: 9px 0;
  color: white;
  border-radius: 3px;
  position: absolute;
  top: -47px;
  font-size: 15px;
  opacity: 0;
  transition: .3s opacity ease-in;
}
.icons span:before{
  content: '';
  position: absolute;
  height: 13px;
  width: 13px;
  top: 28px;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%) rotate(45deg);
}
.icons span.fb, .icons span.fb:before{
  background: #4267b2;
}
.icons span.insta, .icons span.insta:before{
  background: #d72888;
}
.icons span.tweet, .icons span.tweet:before{
  background: #38A1F3;
}
.icons span.yt, .icons span.yt:before{
  background: #eb1c14;
}
i.fa-facebook-square{color: #4267b2}
i.fa-instagram{color: #d72888}
i.fa-twitter-square{color: #38A1F3}
i.fa-youtube{color: #eb1c14}

.icons:hover > span{
  opacity: 1;
}
